extends ./layout.jade

block content
  h1 Meetups.ClaudeTech.com
  p 弊社で行った勉強会の資料を公開いたします。

  .item
    h2 AngularJS入門

    iframe(src="./1-angular-intro")

    p.date Published on September 26, 2014
    p.link
      a(href="./1-angular-intro")
        i.fa.fa-link.fa-lg 
        | Direct Link


  .logo: a(href="http://claudetech.com"): img(src="./img/logo.svg")
