typography()

html
  font-family "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
  color #555
  background #F9F9F9

body
  width 980px
  margin 0 auto

a
  color #17599a

.inner
  background white
  clearfix()
  padding 30px
  margin 30px
  text-align center

.item
  text-align left
  width 640px
  margin 60px auto
  position relative

  iframe
    height 400px
    width:100%
    overflow hidden
    margin 0 auto

  .date, .info
    absolute bottom 0


  .date
    font-size 14px
    color #999
    line-height 0

  .link
    font-size 13px
    text-align right
    i
      margin-right 5px
    a
      border-bottom none

.logo
  text-align center
  padding 60px 0 30px
  img
    width 100px
